# Google OAuth Configuration
GOOGLE_CLIENT_ID=330181663366-v8g6iueboedjv3s1cv0o5p2hq8dmph7c.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET_HERE

# Server Configuration
PORT=3000
NODE_ENV=production
REDIRECT_URI=https://your-railway-app-name.up.railway.app

# Email Configuration
SENDER_EMAIL=fesgroup58@gmail.com

# For Local Development
# REDIRECT_URI=http://localhost:3000
